* {
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    color: ivory;
}

body {
    margin: 0;
    background-image: url('images/vines.jfif');
    object-fit: stretch;
}




/* Navigation */
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    padding: .5em;
    color: ivory;
    text-decoration: none;
    display: inline-block;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: #1a1a1d;
}
.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    opacity: 0.5;
    background-color: none;
}



/* Intro Section */
.intro {
    font-size: 3em;
    text-align: center;
    text-shadow:   
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.intro-h1 {    
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    color: ivory;
}


.intro-my-name {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 1em;
    text-shadow:   
    -1px -1px 0 rgb(255, 255, 255),  
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}


.intro-h2 {    
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    color: ivory;
    text-shadow:   
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


h2 {
    background-image: none;
    align-content: center;
    text-align: center;
    font-size: 3rem;
    text-shadow:   
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.my-name {
    /* background-image: url('images/space.jpg'); */
    height: 500px;
    padding-top: 30px;
    text-align: center;
    margin: 0;
    font-size: 6em;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    color: ivory;
    text-shadow:   
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


/* About Me */
.about-me {
    margin: 1em;
    background-color: #1a1a1d;
    border: 2px solid #4e4e50;
    max-width: 50%;
    margin: 0 auto;
    padding: 0 1.5em;
    /* opacity: 90%; */
}

.about-me-box {
    padding-bottom: 25px;
}


.section-header {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 2.5em;
}

.about-me-p {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

/* Photo of me */
.mainphoto {
    float: left;
    height: 35%;
    width: 35%;
    margin: 15px;
    border-radius: 50%;
    min-width: 165px;
    min-height: 165px;
}

.section-spacing {
    margin-bottom: 50px;
    padding-bottom: 50px;
}





/* Flex Boxes */

h2.featured-work-heading {
}


.flexbox-content-text-p {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}


.flexbox-container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid #4e4e50;
    background-color: #1a1a1d;
    max-width: 75%;
    margin: 0 auto;
    padding: 0 1.5em;
}

.flexbox-item {
    width: 50%;
    align-self: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em; 

}

.flexbox-item-1 {
    flex: 4 0 100%;
    width: 100%;

}

.flexbox-item-2 {
    flex: 1 0 50%;
    width: 50%;
    padding: 5px;

}

.flexbox-item-3 {
    flex: 1 0 50%;
    width: 50%;
    padding: 5px;
}

.placeholderImg1 {
    max-width: 100%;
    max-height: 100%;
    align-content: center;
}

.placeholderImg2 {
    max-width: 100%;
    max-height: 100%;
    align-content: center;
}

.placeholderImg3 {
    max-width: 100%;
    max-height: 100%;
    align-content: center;
}

/* --------- Up Arrow --------- */
.up-arrow-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-color: ivory;
    border-radius: 50%;
}
.up-arrow-img:hover {
    transform: scale(1.3);
}



/* Footer */
.main-footer {
    background-color: #1a1a1d;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.social-media-icons {
    display: inline-block;
    text-align: center;
    padding: 3px;
}


/* .contact-heading {
    text-decoration: underline;
    font-size: 100px;
} */

.main-footer-container {
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    

    /* background-color: #1a1a1d; */
    border: 1px solid rgba(255, 255, 255, .3);
}




.main-footer-container ul {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.footer-nav li {
    /* padding: 0 .5em; */
    font-size: 30px;
}

.social-media-icons {
    width: 100px;
    height: 100px;
}



/* ------------- Portfolio Page ------------- */

.portfolio-header {
    font-size: 200px;
}

.portfolio-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-flex-item {
    height: 700px;
    width: 600px;
    background-color: #1a1a1d;
    border: 1px solid rgba(255, 255, 255, .3);
    margin: 20px;
    padding: 10px;
}
.portfolio-flex-item:hover {
    transform: scale(1.1);
}

.portfolio-img {
    max-width: 100%;
    max-height: 500px;
    align-content: center;
}

/* Media Query */

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      font-size: medium;
      align-items: center;
    }
    
    main {
      flex-direction: column; 
      font-size: small;
    }
  
    .flexbox-item {
      font-size: small;
    }
    .flexbox-content-text-p{
      font-size: small;
    }

    .flexbox-container1 {
      display: block;
      flex: auto;
    }
    .flexbox-container2 {
      display: block;
      flex: auto;
      }
  
    .contact {
      font-size: 12px;
    }

    .main-footer{
      justify-content: center;
      /* margin-left: -5%; */
    }
  
    .footer-nav {
      font-size: 12px;
    }


    /* portfolio page */
    .portfolio-header {
        font-size: 75px;
    }

    .portfolio-img {
        min-width: 100%;
        min-height: 200px;
    }
    .flexbox-content-text-p {
        font-size: 1.5em;
    }
  }